-f /usr/share/pip-wheels
asgiref==3.2.3
bleach==3.1.0
boto3==1.10.34
botocore==1.13.34
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==3.0
django-appconf==1.0.3
django-axes==5.0.20
django-cors-headers==3.2.0
django-debug-toolbar==2.1
django-ipware==2.1.0
django-rest-passwordreset==1.0.0
django-reversion==3.0.5
djangorestframework==3.10.3
djangorestframework-simplejwt==4.4.0
docutils==0.15.2
ExifRead==2.1.2
geographiclib==1.50
geopy==1.20.0
html5lib==1.0.1
idna==2.8
itypes==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
Markdown==3.1.1
MarkupSafe==1.1.1
mysqlclient==1.4.6
Pillow==6.2.1
pipdeptree==0.13.2
PyJWT==1.7.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.2
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.6
webencodings==0.5.1
