asgiref==3.4.1
bleach==4.1.0
boto3==1.18.55
botocore==1.21.55
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
coreapi==2.3.3
coreschema==0.0.4
coverage==6.0
Django==3.2.8
django-axes==5.25.0
django-cors-headers==3.10.0
django-debug-toolbar==3.2.2
django-ipware==4.0.0
django-rest-passwordreset==1.2.0
django-reversion==4.0.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
dlib==19.22.1
docutils==0.17.1
ExifRead==2.3.2
face-recognition==1.3.0
face-recognition-models==0.3.0
futures==3.1.1
geographiclib==1.52
geopy==2.2.0
html5lib==1.1
idna==3.2
itypes==1.2.0
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
mysqlclient==2.0.3
numpy==1.21.2
packaging==21.0
Pillow==8.3.2
pipdeptree==2.1.0
PyJWT==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
s3transfer==0.5.0
scikit-learn==1.0
scipy==1.7.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.0.0
uritemplate==3.0.1
urllib3==1.26.7
webencodings==0.5.1
