-f /usr/share/pip-wheels
appdirs==1.4.3
bleach==2.1.3
boto3==1.7.4
botocore==1.10.4
certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
Django==2.0.4
django-appconf==1.0.2
django-autotranslate==1.0.2
django-axes==4.2.0
django-debug-toolbar==1.9.1
django-debug-toolbar-template-timings==0.9
django-ipware==2.0.2
docutils==0.14
ExifRead==2.1.2
futures==3.1.1
geographiclib==1.49
geopy==1.13.0
goslate==1.5.1
html5lib==1.0.1
idna==2.6
jmespath==0.9.3
mysqlclient==1.3.12
olefile==0.45.1
packaging==17.1
Pillow==5.1.0
pipdeptree==0.12.1
polib==1.1.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.4
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
webencodings==0.5.1
