{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-info" href="/gallery/" role="button">&laquo;{%trans "Back" %}</a>
        <a class="btn btn-info" href="/gallery={{ gallery.id }}/edit/" role="button">{%trans "Edit" %}</a>
        <a class="btn btn-success" href="/gallery={{ gallery.id }}/upload_images/" role="button">+{%trans "Add New Image" %}</a>
        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Delete" %}</a>
    </p>
    <h2>{{ gallery.title }}</h2>
    <p>
        {{ gallery.description }}
    </p>
    <div id="image_container">
    </div>
    <div id="loadmoreajaxloader" style="display:none;">
        <center>
            <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
        </center>
    </div>
     <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Gallery" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave delete this gallery?  It will delete all the images in it!" %}
                </div>
                <div class="modal-footer">

                    <!--Display forms inline-->
                    <form  action="/gallery={{ gallery.id }}/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete" %}</button>
                    </form>

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "Cancel" %}</button>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extrascript %}
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
<script src="{% static "js/lightbox.min.js" %}"></script>

<script type="text/javascript">
var page = 0;
var loading = false;

//Initiate  maosnry
$container = $('#image_container');
$container.imagesLoaded(function(){
    $container.masonry({
        itemSelector: '.image_in_gallery',
        columnWidth: 1,
        isFitWidth: true
    });
});


//Request the galleries on page load
$( document ).ready(function() {
    load_more();
});


//Request more galleries when we scroll to the bottom
$(window).scroll(function()
{
    if($(window).scrollTop() > $(document).height() - $(window).height() - 100)
    {
        load_more();
    }
});

//Ajax request to get more galleries
function load_more()
{
    if (loading == true) { return; }
    loading = true;

    page = page + 1;
    $('div#loadmoreajaxloader').show();
    $.ajax({
        url: "/gallery={{ gallery.id }}/image_data=" + page.toString(),
        success: function(data) {
            if(data && data.length > 0) {
                var html =[];
                for (var i in data) {
                    html.push('<a class="image_in_gallery" href="/media/');
                    html.push(data[i].fields.large_thumbnail);
                    html.push('" data-lightbox="{{ gallery.id }}"');
                    html.push(' data-title="');
                    html.push(data[i].fields.title);

                    html.push('&lt;br/&gt;&lt;a href=\'/image=');
                    html.push(data[i].pk);
                    html.push('/details/\'&gt; {% trans "Details" %} &lt;/a&gt');

                    html.push(' | &lt;a href=\'/media/');
                    html.push(data[i].fields.original_image);
                    html.push('\' target=\'_blank\' &gt; {% trans "Download Original" %} &lt;/a&gt');

                    html.push('">');

                    html.push('<img class="masonry_thumbnail" src="/media/' + data[i].fields.thumbnail + '" ');
                    html.push('alt="' + data[i].fields.title +'/"')
                    html.push('/>');

                    html.push('</a>');
                }

                 $('div#loadmoreajaxloader').hide();

                var $data = $(html.join(''));
                $container.append($data).imagesLoaded(function(){
                    $container.masonry( 'appended', $data.filter(".image_in_gallery"), true );

                    loading = false;
                    //Keep loading images until we see a scroll bar
                    if ($container.height() < $(window).height()) {
                        load_more()
                    }
                });
            }
            else {
                $('div#loadmoreajaxloader').html('<center>{% trans "No more images to show" %}.</center>');
            }
        },

        error: function(jqXHR, textStatus, errorThrown ) {
            $('div#loadmoreajaxloader').html('<center>{% trans "Error loading images" %}.</center>');
            loading = false;
        }
    });
}

</script>

{% endblock %}