{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-success" href="/gallery/" role="button">&laquo;{%trans "Index" %}</a>
        <a id="map_button" class="btn btn-warning" href="/gallery={{ gallery.id }}/map/" role="button" style="display: None;">{%trans "Map" %}</a>
        <a class="btn btn-info" href="/gallery={{ gallery.id }}/edit/" role="button">{%trans "Edit" %}</a>
        <a class="btn btn-warning" href="/gallery={{ gallery.id }}/upload_images/" role="button">+{%trans "Add Image" %}</a>
        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Delete" %}</a>
    </p>
    <h2>{{ gallery.title }}</h2>
    <p>
        {{ gallery.description }}
    </p>

    {% include "gallery/photoswipe.html" %}

    <div id="image_container" data-gallery_url="/gallery={{ gallery.id }}/image_data=">

    {% if image %}

        <a id="default_image" class="image_in_gallery" href="/media/{{ image.large_thumbnail }}"  style="display:None;" data-lightbox="gallery"
            data-title="&lt;a href='/image={{ image.id }}/details/' class='btn btn-info' &gt; {% trans "Details" %}  &lt;/a&gt {{ image.title }}">
            default
        </a>

    {% endif %}

    </div>

    <div id="loadmoreajaxloader" style="display:none;">
        <center>
            <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
        </center>
    </div>

    <div id="NoMoreImages" style="display: None;">
        <center>{% trans "No more images to show" %}</center>
    </div>

    <div id="ErrorLoadingImages" style="display: None;">
        <center>{% trans "Error loading images" %}</center>
    </div>

     <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Gallery" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave delete this gallery?  It will delete all the images in it!" %}
                </div>
                <div class="modal-footer">

                    <!--Display forms inline-->
                    <form  action="/gallery={{ gallery.id }}/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete" %}</button>
                    </form>

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "Cancel" %}</button>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="translate" data-details="{% trans "Details" %}"></div>


{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}

<script id="galley_image_template" type="text/html">
    <a class="image_in_gallery" href="#" data-lightbox="gallery"
        data-photoswipe_index="{{photoswipe_index}}">
        <img class="masonry_thumbnail" src="/media/{{thumbnail}}" alt="{{title}}" height="{{height}}" width="{{width}}"/>
    </a>
</script>

<script id="galley_image_caption_template" type="text/html">
    <a href="/image={{identifier}}/details/" class="btn btn-info"> {% endverbatim %}{% trans "Details" %}{% verbatim %} </a> {{title}}
</script>

{% endverbatim %}

<!--<script src="{% static "js/gallery.min.js" %}"></script>-->
<!--<script src="{% static "js/gallery/imagesloaded.pkgd.min.js" %}"></script>-->
<!--<script src="{% static "js/gallery/masonry.pkgd.min.js" %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
<script src="{% static "js/gallery/gallery.js" %}"></script>
{% endblock %}