 {% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}


{% block extrastyle %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />

    <!--Allows fullscreen map-->
    <style>
        html, body, .fullscreen_map {
            height:100%;
            width:100%;
            padding:0px;
            margin:0px;
            overflow: hidden;
        }
        .fullscreen_map{
            padding-top: 50px;
        }
    </style>

    <!--<link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}" />-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" />

{% endblock %}


{% block content %}

    {% include "gallery/photoswipe.html" %}

    {% localize off %}

    <div id="gallery_map" class="fullscreen_map" data-gallery_id="{{ gallery.id }}" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" data-zoom="{{ zoom }}"></div>

    {% endlocalize %}

    <div id="translate" data-details="{% trans "Details" %}"></div>

{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}
<script id="map_image_template" type="text/html">
    <a class="image_in_gallery" href="#" data-lightbox="gallery"
        data-photoswipe_index="{{photoswipe_index}}">
        <img class="map_thumbnail" src="/media/{{thumbnail}}" alt="{{title}}"/>
    </a>
</script>

<script id="galley_image_caption_template" type="text/html">
    <a href="/image={{identifier}}/details/" class="btn btn-info"> {% endverbatim %}{% trans "Details" %}{% verbatim %} </a> {{title}}
</script>

{% endverbatim %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
<script src="{% static "js/gallery/gallery.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="{% static "js/mapping/gallery_map.js" %}"></script>

{% endblock %}