{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-success" href="/gallery/" role="button">&laquo;{%trans "Index" %}</a>
        <a id="map_button" class="btn btn-warning" href="/gallery={{ gallery.id }}/map/" role="button" style="display: None;">{%trans "Map" %}</a>
        <a class="btn btn-info" href="/gallery={{ gallery.id }}/edit/" role="button">{%trans "Edit" %}</a>
        <a class="btn btn-warning" href="/gallery={{ gallery.id }}/upload_images/" role="button">+{%trans "Add Image" %}</a>
        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Delete" %}</a>
    </p>
    <h2>{{ gallery.title }}</h2>
    <p>
        {{ gallery.description }}
    </p>

    <div id="image_container" data-gallery_url="/gallery={{ gallery.id }}/image_data=">
    </div>

    <div id="loadmoreajaxloader" style="display:none;">
        <center>
            <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
        </center>
    </div>

    <div id="NoMoreImages" style="display: None;">
        <center>{% trans "No more images to show" %}</center>
    </div>

    <div id="ErrorLoadingImages" style="display: None;">
        <center>{% trans "Error loading images" %}</center>
    </div>

     <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Gallery" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave delete this gallery?  It will delete all the images in it!" %}
                </div>
                <div class="modal-footer">

                    <!--Display forms inline-->
                    <form  action="/gallery={{ gallery.id }}/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete" %}</button>
                    </form>

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "Cancel" %}</button>

                </div>
            </div>
        </div>
    </div>

</div>

<div id="translate" data-details="{% trans "Details" %}"></div>

{% endblock %}

{% block extrascript %}
<script src="{% static "js/gallery.min.js" %}"></script>
{% endblock %}