{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">

    <div id="postswrapper">
       <div id="loadmoreajaxloader" style="display:none;">
           <center>
               <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
           </center>
       </div>
    </div>

</div>

{% endblock %}

{% block extrascript %}
<script type="text/javascript">
var page = 0;

//Request the galleries on page load
$( document ).ready(function() {
    load_more();
});


//Request more galleries when we scroll to the bottom
$(window).scroll(function()
{
    if($(window).scrollTop() == $(document).height() - $(window).height())
    {
        load_more();
    }
});

//Ajax request to get more galleries
function load_more()
{
    page = page + 1;
    $('div#loadmoreajaxloader').show();
    $.ajax({
        url: "/gallery/gallery_data=" + page.toString(),
        success: function(data)
        {
            if(data && data != '[]')
            {
                var html =[];
                for (var i in data)
                {
                    html.push('<div>');
                    if (data[i].fields.thumbnail)
                    {
                        html.push('<img src="/media/' + data[i].fields.thumbnail + '" ');
                        html.push('alt="' + data[i].fields.title +'"')
                        html.push('/>');
                    }
                    html.push(data[i].fields.title);
                    html.push('</div>');
                }

                $("#postswrapper").append(html.join(''));
                $('div#loadmoreajaxloader').hide();

                //Load more until we reach bottom of page
                //if($(window).height() >= $(document).height()){
                //    load_more();
                //};

            }else
            {
                $('div#loadmoreajaxloader').html('<center>{% trans "No more galleries to show" %}.</center>');
            }
        }
    });
}

</script>

{% endblock %}