{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-success" href="/new_gallery/" role="button">+{% trans "Add New Gallery" %}</a>
    </p>
    <h2>
        {% trans "Galleries" %}
    </h2>
    <table id="gallery_container">
    </table>
   <div id="loadmoreajaxloader" style="display:none;">
       <center>
           <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
       </center>
   </div>
   <div id="no_more_galleries" style="display:none;"><center>{% trans "No more galleries to show" %}.</center></div>

</div>

{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}
<script id="gallery_row_template" type="text/html">
    <tr class="gallery_index_row">
        <td>
            <a href="/gallery={{id}}">
                <img class="gallery_index_thumbnail" src="{{gallerythumb_url}}" alt="{{title}}"/>
            </a>
        </td>
        <td>
            <a href="/gallery={{id}}">
                <h4>{{title}}</h4>
                <p>{{description}}</p>
                <p>{% endverbatim %}{% trans "Last Updated:" %}{% verbatim %} {{last_updated_date}}</p>
            </a>
        </td>
    </tr>
</script>
{% endverbatim %}

<script src="{% static "js/gallery/gallery_index.js" %}"></script>

{% endblock %}