{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}

<!--http://www.1stwebdesigner.com/image-tagging-tutorial/-->
{% block extrastyle %}
    <link href="{% static "css/bootstrap-editable.css"%}" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static "css/leaflet.css" %}" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;" id="editable_content">
    <div>
        <a class="btn btn-success" href="/gallery={{ image.gallery_id }}/" role="button">
            <span class="glyphicon glyphicon-backward"></span> <span class="glyphicon glyphicon-th-large">
        </a>
        <a class="btn btn-primary" download target="_blank" href="{{ image.original_image.url }}" role="button">
            <span class="glyphicon glyphicon-download-alt"></span>
        </a>
        <form  action="/image={{ image.id }}/rotate/" method="post" class="form-inline">
            {% csrf_token %}
            <input type="hidden" name="anticlockwise_angle" value="90"/>
            <button class="btn btn-warning" type="submit" class="form-inline">
                <span class="glyphicon glyphicon-repeat icon-flipped"></span>
            </button>
        </form>
        <form  action="/image={{ image.id }}/rotate/" method="post" class="form-inline">
            {% csrf_token %}
            <input type="hidden" name="anticlockwise_angle" value="-90"/>
            <button class="btn btn-warning" type="submit" class="form-inline">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </form>

        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
    </div>

    <div>
        {%trans "Click/Touch image to tag people" %}
    </div>

    <div id="tag_container">
        <a href="#tag_add_modal" data-toggle="modal">
            <img src="{{ image.large_thumbnail.url }}" class="img-responsive" alt="{{ image.title }}" id="image_map" data-id="{{ image.id }}"/>
        </a>

        <div class="image_navigation_button_container">

            {% if previous_image_id %}
            <a href="/image={{ previous_image_id }}/details/" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            {% endif %}

            {% if next_image_id %}
            <a href="/image={{ next_image_id }}/details/" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            {% endif %}

        </div>
    </div>



    <h4>
        <a href="#" id="title" data-type="text" data-title="{% trans "Title" %}" data-pk="{{ image.id }}"
            data-url="/image={{ image.id }}/update/" data-placeholder="{% trans "Required" %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-trans_required="{% trans "Required Field" %}">
            {{ image.title }}
        </a>
    </h4>
    <table class="table table-striped">
        <tr>
            <th>{% trans "Description" %}</th>
            <td>
                <a href="#" id="description" data-type="textarea" data-title="{% trans "Description" %}" data-pk="{{ image.id }}"
                    data-url="/image={{ image.id }}/update/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.description }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Date Taken" %}</th>
            <td>
                <!--<a href="#" id="date_taken" data-title="{% trans "Date Taken" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-type="combodate" data-template="D MMM YYYY  HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-format="YYYY-MM-DD HH:mm" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">-->
                <a href="#" id="date_taken" data-title="{% trans "Date Taken" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/"
                    data-template="D MMM YYYY  HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-format="YYYY-MM-DD HH:mm" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.date_taken }}
                </a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form  action="/image={{ image.id }}/make_gallery_thumbnail/" method="post" class="form-inline">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit" class="form-inline">{% trans "Make Gallery Thumbnail" %}</button>
                </form>
            </td>
        </tr>
    </table>



    {% localize off %}
    <div id="image_location_map" data-latitude="{{ image.latitude }}" data-longitude="{{ image.longitude }}"></div>
    {% endlocalize %}

    <!--Address search-->
    <form id="address_search_form" class="form-inline" role="form">
        {% csrf_token %}
        <div class="input-group">
            <input type="address" id="address" name="address" class="form-control input-sm" placeholder="{% trans "Search Address" %}">
            <div class="input-group-btn">
                <button id="address_search_button" type="button" class="btn btn-success btn-sm">{% trans "OK" %}</button>
            </div>
        </div>
    </form>

     <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Image" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave delete this image?" %}
                </div>
                <div class="modal-footer">

                    <!--Display forms inline-->
                    <form  action="/image={{ image.id }}/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete" %}</button>
                    </form>

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "Cancel" %}</button>

                </div>
            </div>
        </div>
    </div>

    <!--Tag Details popup-->
    <div class="modal fade" id="tag_detail_modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Tag Details" %}</h4>
                </div>
                <div id="tag_detail_description" class="modal-body">
                </div>
                <div class="modal-footer">

                    <a id="tag_detail_profile_link" href="#" type="button" class="btn btn-success">{% trans "Go To Profile" %}</a>
                    <button id="tag_detail_delete_button" data-tag_id="#" class="btn btn-danger" data-dismiss="modal">{% trans "Delete Tag" %}</button>
                </div>

            </div>
        </div>
    </div>

    <!--Add Tag popup-->
    <div class="modal fade" id="tag_add_modal" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Add a New Tag" %}</h4>
                </div>
                <div id="tag_add_description" class="modal-body">
                    <form id="search_form" role="form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4>{% trans "Who is this?" %}</h4>
                            <div class="form-group">
                                <input type="search_text" id="search_text" name="search_text" class="form-control" placeholder="{% trans "Search Name" %}">
                            </div>
                        </div>
                        <div id="searching_in_progress" style="display:none;">
                            <img src="{% static "img/ajax-loader.gif" %}"/> {% trans "Searching..." %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                  <tbody id="results">
                                  </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>

            </div>
        </div>
    </div>

    <!--Hidden form to add new tags-->
    <form id="tag_add_post" role="form" method="post" action="/image={{ image.id }}/tags/create/">
        {% csrf_token %}
        <input type="hidden" id="tag_add_modal_x1" name="x1"/>
        <input type="hidden" id="tag_add_modal_x2" name="x2"/>
        <input type="hidden" id="tag_add_modal_y1" name="y1"/>
        <input type="hidden" id="tag_add_modal_y2" name="y2"/>
        <input type="hidden" id="tag_add_modal_person" name="person"/>
    </form>
</div>

{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}
<script id="search_person_row" type="text/html">
    <tr>
        <td class="search_photo">
            <a href="#" class="person_tag_add" data-dismiss="modal" data-person_id ="{{id}}">
                <img src="{{image_url}}" alt="{{name}}"/>
            </a>
        </td>
        <td style="padding-top:40px">
            <a href="#" class="person_tag_add" data-dismiss="modal" data-person_id ="{{id}}">
                {{name}}
            </a>
        </td>
    </tr>
</script>

<script id="tag_template" type="text/html">
    <a href="#tag_detail_modal" data-toggle="modal" id="tag{{id}}"
        data-person_id="{{person}}" data-person_name="{{name}}" data-tag_id="{{id}}"
        class="tag_box" style="left:{{left}}px; top:{{top}}px;width:{{width}}px;height:{{height}}px;">

        <div class="tag_description" style="top:{{description_top}}px;">
            {{name}}
        </div>
    </a>
</script>

{% endverbatim %}

<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/gallery/image_tagging.js' %}"]);
        requirejs(["{% static 'js/gallery/image_map.js' %}"]);
    });
</script>

{% endblock %}