{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}

<!--http://www.1stwebdesigner.com/image-tagging-tutorial/-->
{% block extrastyle %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static "css/leaflet.css" %}" />
    <style>
        #map{
            width: 300px;
            height: 300px;
        }

        .tag_box {
            border:3px solid #EEE;
            width:80px;
            height:80px;
            min-width:80px;
            min-height:80px;
            z-index:1000;
            position:absolute;
            top:0;
            text-align: center;
        }

        .tag_description {
            margin-top: 82px;
            background-color: #111;
            color: white;
            font-size: 9px;
        }

    </style>
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;" id="editable_content">
    <div>
        <a class="btn btn-success" href="/gallery={{ image.gallery_id }}/" role="button">&laquo;{%trans "Back" %}</a>
        <a class="btn btn-info" target="_blank" href="/media/{{ image.original_image }}" role="button">{%trans "Download Original" %}</a>
        <form  action="/image={{ image.id }}/make_gallery_thumbnail/" method="post" class="form-inline">
            {% csrf_token %}
            <button class="btn btn-warning" type="submit" class="form-inline">{% trans "Make Gallery Thumbnail" %}</button>
        </form>
        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Delete" %}</a>
    </div>
    <br/>

    <div id="tag_container">
        <img src="/media/{{ image.large_thumbnail }}" class="img-responsive" alt="{{ image.title }}" id="image_map"/>
    </div>

    <a href="#" id="enable">{% trans "(Edit Details)" %}</a>
    <h4>
        <a href="#" id="title" data-type="text" data-title="{% trans "Title" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-placeholder="{% trans "Required" %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
            {{ image.title }}
        </a>
    </h4>
    <table class="table table-striped">
        <tr>
            <th>{% trans "Description" %}</th>
            <td>
                <a href="#" id="description" data-type="textarea" data-title="{% trans "Description" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.description }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Date Taken" %}</th>
            <td>
                <a href="#" id="date_taken" data-title="{% trans "Date Taken" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-type="combodate" data-template="D MMM YYYY  HH:mm" data-viewformat="MMM D, YYYY, HH:mm" data-format="YYYY-MM-DD HH:mm" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.date_taken }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Location Latitude" %}</th>
            <td>
                <a href="#" id="latitude" data-type="text" data-title="{% trans "Latitude" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.latitude }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{% trans "Location Longitude" %}</th>
            <td>
                <a href="#" id="longitude" data-type="text" data-title="{% trans "Longitude" %}" data-pk="{{ image.id }}" data-url="/image={{ image.id }}/update/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                    {{ image.longitude }}
                </a>
            </td>
        </tr>
    </table>

    <div id="map"></div>

     <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Image" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave delete this image?" %}
                </div>
                <div class="modal-footer">

                    <!--Display forms inline-->
                    <form  action="/image={{ image.id }}/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete" %}</button>
                    </form>

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "Cancel" %}</button>

                </div>
            </div>
        </div>
    </div>

    <!--Tag Details popup-->
    <div class="modal fade" id="tag_detail_modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans "Tag Details" %}</h4>
                </div>
                <div class="modal-body">
                    blah
                </div>


                <div class="modal-footer">

                    <a id="tag_detail_profile_link" href="#kjff" type="button" class="btn btn-success" style="margin-bottom:5px;">{% trans "Go To Profile" %}</a>

                    <form id="tag_detail_delete_action" method="post" class="form-inline">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Delete Tag" %}</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block extrascript %}

<script src="{% static "js/moment.min.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{% static "js/leaflet.js" %}"></script>

<script>
$(document).ready(function() {

     //enable / disable
   $('#enable').click(function(e) {

        $('#editable_content .editable').editable('toggleDisabled');
        if ($('#enable').html() == '{% trans "(Edit Details)" %}') {
           $('#enable').text('{% trans "Done Editing" %}');
        }
        else {
           $('#enable').text('{% trans "(Edit Details)" %}');
        }
        e.preventDefault();
	    $('html, body').stop().animate({
	        'scrollTop': $('#enable').offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = $('#enable');
	    });
    });


    $('#title').editable({
        validate: function(value) {
            if(!value) return '{% trans "Required field!" %}';
        },
        disabled: true
    });


    $('#description').editable({
        disabled: true
    });

    $('#date_taken').editable({
        placement: 'right',
        combodate: {
            firstItem: 'name'
        },
        disabled: true
    });

    $('#latitude').editable({
        disabled: true
    });

    $('#longitude').editable({
        disabled: true
    });

    set_map();

    get_tags();

});

function get_tags() {
    $.ajax({
        url: "/image={{ image.id }}/tags/get/",
        success: function(data) {

            var image_position = $('#image_map').position();
            var width = $('#image_map').width();
            var height = $('#image_map').height();

            var html =[];
            for (var i in data) {
                html.push('<a href="#tag_detail_modal" data-toggle="modal" id="tag_box_');
                html.push(data[i].id);
                html.push('" class="tag_box" style="left:');
                html.push(data[i].x1 * width + image_position.left);
                html.push('px;top:');
                html.push(data[i].y1 * height + image_position.top);
                html.push('px">');
                html.push('<div class="tag_delete" id="');
                html.push(data[i].id);
                html.push('">');
                html.push('</div>');
                html.push('<div class="tag_description">');
                html.push(data[i].name)
                html.push('</div>');
                html.push('</a>');
            }
            $('#tag_container').append($(html.join('')));
            //http://stackoverflow.com/questions/24323895/send-parameter-to-bootstrap-modal-window
        }
    });
}

//Sets up the maps
{% localize off %}
function set_map() {

    var map = L.map('map', {
        center: [{{ image.latitude }}, {{ image.longitude }}],
        zoom: 14,
        zoomControl: false,
        minZoom: 2,
        scrollWheelZoom: true,
        detectRetina: true,
        maxBounds: [[-90, -200],[90, 200]]
    });



    L.tileLayer('https://{s}.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}', {
    	subdomains: ['a','b','c','d'],
    	id: 'okkindred.ldfc645h',
    	token: 'pk.eyJ1Ijoib2traW5kcmVkIiwiYSI6Ild2MnY5dDQifQ.EHr6blIYPYeg4bWmSStT-g',
    }).addTo(map);

    map.addControl( L.control.zoom({position: 'bottomleft'}));


    var marker_icon = L.icon({
            iconUrl: '{% static "img/map_marker.png" %}',
            shadowUrl: '{% static "img/map_marker_shadow.png" %}',
            iconSize:     [25, 41], // size of the icon
            shadowSize:   [50, 60], // size of the shadow
            iconAnchor:   [13, 42], // point of the icon which will correspond to marker's location
            shadowAnchor: [16, 62],  // the same for the shadow
            popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
    });


    var marker = L.marker([{{ image.latitude }},{{ image.longitude }}], {icon: marker_icon}).addTo(map);
}
{% endlocalize %}
</script>
{% endblock %}