{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-success" href="/profile={{ person.id }}/" role="button">&laquo;{%trans "Profile" %}</a>
    </p>
    <h2>{%trans "Pictures of" %} {{ person.name }}</h2>

    {% include "gallery/photoswipe.html" %}
    <div id="image_container" data-gallery_url="/person={{ person.id }}/photos/image_data=">

    {% if image %}

        <a id="default_image" class="image_in_gallery" href="/media/{{ image.large_thumbnail }}"  style="display:None;" data-lightbox="gallery"
            data-title="&lt;a href='/image={{ image.id }}/details/' class='btn btn-info' &gt; {% trans "Details" %}  &lt;/a&gt {{ image.title }}">
            default
        </a>

    {% endif %}

    </div>

    <div id="loadmoreajaxloader" style="display:none;">
        <center>
            <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
        </center>
    </div>
</div>

<div id="translate" data-details="{% trans "Details" %}"></div>

{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}

<script id="galley_image_template" type="text/html">
    <a class="image_in_gallery" href="#" data-lightbox="gallery"
        data-photoswipe_index="{{photoswipe_index}}">
        <img class="masonry_thumbnail" src="/media/{{thumbnail}}" alt="{{title}}" height="{{height}}" width="{{width}}"/>
    </a>
</script>

<script id="galley_image_caption_template" type="text/html">
    <a href="/image={{identifier}}/details/" class="btn btn-info"> {% endverbatim %}{% trans "Details" %}{% verbatim %} </a> {{title}}
</script>

{% endverbatim %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.0.0/masonry.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
<script src="{% static "js/gallery/gallery.js" %}"></script>

{% endblock %}