{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lightbox.css" %}" />
{% endblock %}

{% block content %}

<div class="container" style="padding-top: 20px;">
    <p>
        <a class="btn btn-success" href="/profile={{ person.id }}/" role="button">&laquo;{%trans "Profile" %}</a>
    </p>
    <h2>{%trans "Pictures of" %} {{ person.name }}</h2>

    <div id="image_container" data-gallery_url="/person={{ person.id }}/photos/image_data=">

    {% if image %}

        <a id="default_image" class="image_in_gallery" href="/media/{{ image.large_thumbnail }}"  style="display:None;" data-lightbox="gallery"
            data-title="&lt;a href='/image={{ image.id }}/details/' class='btn btn-info' &gt; {% trans "Details" %}  &lt;/a&gt {{ image.title }}">
            default
        </a>

    {% endif %}

    </div>

    <div id="loadmoreajaxloader" style="display:none;">
        <center>
            <img src="{% static "img/ajax-loader.gif" %}" /> {% trans "Loading..." %}
        </center>
    </div>
</div>

<div id="translate" data-details="{% trans "Details" %}"></div>

{% endblock %}

{% block extrascript %}
<script src="{% static "js/gallery.min.js" %}"></script>
{% endblock %}