{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/css/jquery.fileupload.min.css"/>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Upload New Photo" %}</h1>
    <blockquote>
        <p>
            {% trans "Upload a new photo to the gallery" %}
       </p>
    </blockquote>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{% trans "Select files..." %}</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="gallery_photo_upload" type="file" name="files[]"> <!--multiple doesn't work for some reason-->
        {% csrf_token %}
    </span>
    <br/>
    <br/>
    <!-- The global progress bar -->

    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>

    <div id="processing_wait" style="display:none;">
        <img src="{% static "img/ajax-loader.gif" %}"/> {% trans "Processing..." %}
    </div>
    <div id="error_text" style="display:none;">{% trans "Error uploading image" %}</div>
    <div class="files" id="files"></div>
</div>
{% endblock %}

{% block extrascript %}

<script src="{% static "js/file_upload.min.js" %}"></script>

{% endblock %}