/* Navbar overrides */
.navbar-inverse {
    background-color: #250042;
    border-color: #080808;
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a
{
    color: #DDDDDD;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Loading overlay */
/* Absolute Center Spinner */
.loading {
    display: None;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-inline {
    margin: 0;
    padding: 0;
    display: inline;
}


/* Family Tree */
.w {
    padding: 12px;
    position: absolute;
    border: 1px solid black;
    z-index: 4;
    border-radius: 1em;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: move;
    background-color: white;
    font-size: 12px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    max-width: 200px;
}

.w_up_arrow {
    text-align: center;
    margin-top: -32px;
    font-size: 16px;
    color: #5c96bc;
}

.w_down_arrow {
    text-align: center;
    margin-bottom: -32px;
    font-size: 16px;
    color: #5c96bc;
}

.w_left_arrow {
    float: left;
    margin-top: 32px;
    margin-left: -32px;
    font-size: 16px;
    color: #5c96bc;
    vertical-align:middle;
}

.w_right_arrow {
    float: right;
    margin-top: 32px;
    margin-right: -32px;
    font-size: 16px;
    color: #5c96bc;
    vertical-align:middle;
}

.w:hover {
    background-color:#6ed171;
    color:white;
}

.tree_thumb {
    height: 80px;
    width: 80px;
}

/* Smartphones (portrait and landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 767px) {

    .tree_thumb {
        height: 40px;
        width: 40px;
    }

    .w {
        padding: 6px;
        width: 80px;
        max-width: 120px;
    }

    .w_up_arrow {
        margin-top: -20px;
        font-size: 12px;
    }

    .w_down_arrow {
        margin-bottom: -24px;
        font-size: 12px;
        color: #5c96bc;
    }

    .w_left_arrow {
        float: left;
        margin-top: 12px;
        margin-left: -20px;
        font-size: 12px;
    }

    .w_right_arrow {
        float: right;
        margin-top: 12px;
        margin-right: -20px;
        font-size: 12px;
    }
}




.aLabel {
    -o-transition:background-color 0.25s ease-in;
	-webkit-transition:background-color 0.25s ease-in;
	-moz-transition:background-color 0.25s ease-in;
	transition:background-color 0.25s ease-in;
}

.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
	background-color:#6ed171;
	color:white;
}


.aLabel {
	background-color:white;
	opacity:0.8;
	padding:0.3em;
	border-radius:0.5em;
	border:1px solid #346789;
	cursor:pointer;
	font-size: 10px;
}


.ep {
	position:absolute;
	bottom: 37%;
	right: 5px;
	width:1em;
	height:1em;
	background-color:orange;
	cursor:pointer;
	box-shadow: 0px 0px 2px black;
	-webkit-transition:-webkit-box-shadow 0.25s ease-in;
	-moz-transition:-moz-box-shadow 0.25s ease-in;
	transition:box-shadow 0.25s ease-in;
}

.ep:hover {
	box-shadow: 0px 0px 6px black;
}

.family_tree_container ._jsPlumb_endpoint {
	z-index:3;
	position: relative;
}

.dragHover { border:2px solid orange; }

path { cursor:pointer; }



textarea {
    width: 100%;
    height: 300px;
}

/** Custom CSS for image cropping **/
@media only screen and (max-device-width: 500px) {

    #crop_target {
        width: 70%;
    }
}

@media only screen and (min-device-width: 500px) {

    #crop_target {
        width: 80%;
        max-width: 500px;
    }
}

/**CSS for maps**/
#map_canvas {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50px;
}

.img-with-text {
    text-align: center;
    width: 90px;
    height: 115px;
    float: left;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.circle {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #250042;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

/** CSS for search page **/
.search_photo {
    width:60px;
}

/** Add relation page **/
.boxed {
        padding: 12px;
        border: 1px solid black;
        border-radius: 1em;
        border: 1px solid #2e6f9a;
        box-shadow: 2px 2px 19px #e0e0e0;
        -o-box-shadow: 2px 2px 19px #e0e0e0;
        -webkit-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: white;
        font-size: 12px;
        -webkit-transition: background-color 0.25s ease-in;
        -moz-transition: background-color 0.25s ease-in;
        transition: background-color 0.25s ease-in;
        margin-bottom: 15px;
}

#add_relation {
    width: 300px ;
    margin-left: auto;
    margin-right: auto;
}

#sign_up_form {
    max-width: 500px ;
}

/** How Am I Related Page **/
.boxed_chained {
        padding: 10px;
        border: 1px solid black;
        border-radius: 1em;
        border: 1px solid #2e6f9a;
        box-shadow: 2px 2px 19px #e0e0e0;
        -o-box-shadow: 2px 2px 19px #e0e0e0;
        -webkit-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-box-shadow: 2px 2px 19px #e0e0e0;
        -moz-border-radius: 8px;
        border-radius: 8px;
        background-color: white;
        font-size: 12px;
        -webkit-transition: background-color 0.25s ease-in;
        -moz-transition: background-color 0.25s ease-in;
        transition: background-color 0.25s ease-in;
        margin-bottom: 68px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 200px;
}

.gallery_index_row {
    vertical-align: top;
    border-top: 1px solid #bbb;
}

.gallery_index_row a {
    color: black;
}

.gallery_index_thumbnail {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

/** Custom CSS for image cropping **/
/**
@media only screen and (max-device-width: 500px) {

    .masonry_thumbnail {
        max-width: 100px;
        max-height: 100px;
    }

    .gallery_index_thumbnail {
        max-width: 100px;
        max-height: 100px;
    }
}

@media only screen and (min-device-width: 500px) {

    .masonry_thumbnail {
        max-width: 200px;
        max-height: 200px;
    }

    .gallery_index_thumbnail {
        max-width: 200px;
        max-height: 200px;
    }
}
**/
/** Styling for image details **/
#image_location_map{
    width: 300px;
    height: 300px;
}

.tag_box {
    border:2px solid #EEE;
    z-index:1000;
    position:absolute;
    top:0;
    text-align: center;
}

.tag_description {
    background-color: #111;
    color: white;
    font-size: 9px;
    position:absolute;
    left: 0px;
}

/** Styling for profile **/
.btn-profile {
    width:200px;
    margin:5px 0px 5px 0px;
}

/** Gallery map view **/
.map_thumbnail {
    max-width: 90px;
    max-height: 90px;
    margin:5px 5px 5px 5px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

@media only screen and (max-device-width: 500px) {
    .map_thumbnail {
        max-width: 45px;
        max-height: 45px;
        margin:5px 5px 5px 5px;
    }
}

