{% extends "base_email.html" %}
{% load i18n %}

{% block content %}

<p>
    {% trans "You're receiving this email because you requested a password reset for your user account at ok!Kindred" %}
</p>

<p>
    {% trans "Please go to the following page and choose a new password:" %}
</p>
<p>
    <a href ="{{ domain }}/accounts/password_reset_confirmation/?token={{ reset_password_token }}">
        {{ domain }}/accounts/password_reset_confirmation/?token={{ reset_password_token }}
    </a>
</p>


{% endblock %}