{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<div class="container">

    <h4>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4>

    <form class="form-signin" action="/accounts/password_reset/" method="post">

        {% csrf_token %}
        {{ form.email.errors }}

        <div class="form-group">
            <label for="id_email">{% trans "Email Address:" %}</label>
            <input type="email" id="id_email" name="email" maxlength="254" class="form-control" placeholder="{% trans 'Email address'  %}" required autofocus>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset my password' %}</button>

    </form>

</div>

{% endblock %}

{% block extrascript %}
<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/common/submit_disable.js' %}"]);
    });
</script>
{% endblock %}