{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container">

{% if validlink %}

    <h4>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>

    <form class="form-signin" action="" method="post">
        {% csrf_token %}

        <label for="password" class="sr-only">{% trans 'New password:' %}</label>
        <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder="{% trans 'New password:' %}" required autofocus>
        {{ form.new_password1.errors }}

        <label for="password2" class="sr-only">{% trans 'Confirm password:' %}</label>
        <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder="{% trans 'Confirm password:' %}" required>
        {{ form.new_password2.errors }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Change my password' %}</button>
    </form>

{% else %}

    <h3>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h3>

{% endif %}

</div>

{% endblock %}