{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<div class="container">

    <h4>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</h4>

    <form class="form-signin" action="" method="post">

        {% csrf_token %}
        {{ form.email.errors }}

        <label for="email" class="sr-only">{% trans "Email Address:" %}</label>
        <input type="email" id="id_email" name="email" maxlength="254" class="form-control" placeholder="{% trans 'Email address'  %}" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset my password' %}</button>

    </form>

</div>

{% endblock %}

{% block extrascript %}
<script src="{% static "js/common/submit_disable.js" %}"></script>
{% endblock %}