{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="container">

    <h3>{% trans "Settings" %}</h3>

    <!-- Overide padding to align with boxed divs -->
    <div class="col-sm-12" style="padding-left: 0px;">
        <p>
            <a class="btn btn-success" href="/" role="button">&laquo;{%trans "Done" %}</a>
        </p>
    </div>

    <div class="col-sm-8 boxed">
        <h4>{% trans "Options" %}</h4>
        <table class="table table-striped">

            <tr>
                <th>{% trans "First Language" %}</th>
                <td>
                    <a href="#" id="language" data-type="select" data-title="{% trans "First Language" %}" data-pk="{{ user.id }}" data-value="{{ user.language }}"
                            data-url="/accounts/update_settings/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-source="/languages">
                        {{ user.get_language_display }}
                    </a>
                </td>
            </tr>

            <tr>
                <th>{% trans "Receive family update emails" %}</th>
                <td>
                    <a href="#" id="receive_update_emails" data-title="{% trans "Do you want to receive family update emails?" %}" data-type="select"
                            data-pk="{{ user.id }}" data-url="/accounts/update_settings/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"
                            data-value="{% if user.receive_update_emails %}{% trans '1' %}{% else %}{% trans '' %}{% endif %}">
                        {% if user.receive_update_emails %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <th>{% trans "Receive update emails when you are identified in a photo" %}</th>
                <td>
                    <a href="#" id="receive_photo_update_emails" data-title="{% trans "Do you want to receive update emails when you are identified in a photo?" %}" data-type="select"
                            data-pk="{{ user.id }}" data-url="/accounts/update_settings/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}"
                            data-value="{% if user.receive_photo_update_emails %}{% trans '1' %}{% else %}{% trans '' %}{% endif %}">
                        {% if user.receive_photo_update_emails %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}
                    </a>
                </td>
            </tr>
        </table>
    </div>




    <form id="password_change" role="form" action="/accounts/change_password/" method="post" data-toggle="validator">
        {% csrf_token %}
        <div class="form-group col-sm-8 boxed">
            <div class="form-group">

                <h4>{% trans "Change Password" %}</h4>
                <p>
                    <input type="password" name="password" data-minlength="8" class="form-control" id="inputPassword" placeholder="{% trans "New Password" %} " required>
                    <span class="help-block">{% trans "Minimum of 8 characters" %}</span>
                </p>
                <p>
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword"
                            data-match-error="{% trans "Whoops, they must match!" %}" placeholder="{% trans "Confirm Password" %}" required>
                    <div class="help-block with-errors"></div>
                </p>
            </div>

            <button class="btn btn-primary disabled" style="cursor: pointer; pointer-events: all;" type="submit">{% trans "Update Password" %}</button>
        </div>
    </form>

    <!-- Overide padding to align with boxed divs -->
    <div class="col-sm-12" style="padding-left: 0px;">
        <p>
            <a class="btn btn-success" href="/" role="button">&laquo;{%trans "Done" %}</a>
        </p>
    </div>

    <div class="col-sm-8 boxed">
        <h4>{% trans "Goodbye and Farewell" %}</h4>
        <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Leave ok!Kindred forever..." %}</a>
    </div>


    <!--Delete profile popup-->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Profile" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to leave ok!Kindred?  We would be very sad to see you leave!" %}
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-bottom:5px;">{% trans "NO!!! I don't want to quit" %}</button>

                    <!--Display forms inline-->
                    <form  action="/accounts/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="delete_profile" value="0">
                        <button class="btn btn-warning" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Yes but leave my profile" %}</button>
                    </form>

                    <form  action="/accounts/delete/" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="delete_profile" value="1">
                        <button class="btn btn-danger" type="submit" class="form-inline" style="margin-bottom:5px;">{% trans "Yes and delete my profile" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Allow localization to happen on server template-->
    <div id="translation_settings" data-yes="{% trans 'Yes' %}" data-no="{% trans 'No' %}" data-required="{% trans 'Required field!' %}"></div>

</div>

{% endblock %}

{% block extrascript %}

<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/custom_user/settings.js' %}"]);
    });
</script>

{% endblock %}