{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="col-md-12">
        <p>
            <a class="btn btn-default" href="/edit_profile={{ person.id }}/" role="button">&laquo;{%trans "Back" %}</a>
        </p>
    </div>
    <h3>{% trans "Break Relations" %}</h3>

    <table class="table table-striped">

        {% for relation in relations %}
        <tr>
            <form id="break_relation_{{ relation.id }}" role="form" action="/break_relation_post={{ person.id }}/" method="post">
                {% csrf_token %}
                <input type="hidden" id="relation_id{{ relation.id }}" name="relation_id" class="form-control" value="{{ relation.id }}">

                <td>{{ relation.from_person.name }}</td>
                <td>{{ relation.get_relation_type_display }}</td>
                <td>{{ relation.to_person.name }}</td>

                <td><button id="break_relation_{{person.id}}" class="btn btn-danger" type="submit">{% trans "Break" %}</button></td>

            </form>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}


