{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top: 20px;">

    <div class="col-md-12">
        <form style="margin: 0; padding: 0;" role="form" action="/update_biography={{ person_id }}/ln={{ language }}/" method="post">
            <p>
                <a class="btn btn-danger" href="/profile={{ person_id }}/" role="button">&laquo;{%trans "Cancel" %}</a>
                <button class="btn btn-success" type="submit">{% trans "Save" %}&raquo;</button>
            </p>
            {% csrf_token %}
            <textarea id="biography" type="biography" name="biography" >{{ biography.content }}</textarea>
        </form>
    </div>
</div>
{% endblock %}

{% block extrascript %}

    <!--TinyMCE -->
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language_url : '/static/js/tinymce_languages/{{ language }}.js',

        });
    </script>

{% endblock %}
