{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="col-md-12">
        <p>
            <a class="btn btn-success" href="/profile={{ person.id }}/" role="button">&laquo;{%trans "Done" %}</a>
            <a class="btn btn-primary" href="/add_relation={{ person.id }}/" role="button">{%trans "Add Relation" %}</a>
            <a class="btn btn-warning" href="/break_relation={{ person.id }}/" role="button">{%trans "Break Relation" %}</a>
            {% if can_delete %}
                <a class="btn btn-danger" role="button" href="#modal_delete" data-toggle="modal">{%trans "Delete" %}</a>
            {% endif %}
        </p>
    </div>
    <div class="col-md-4">
        <a href="/edit_profile_photo={{ person.id }}/">
            {% if person.large_thumbnail %}
                <img src="/media/{{person.large_thumbnail}}" alt="{% trans "Click photo to upload new one" %}"/>
            {% else %}
                <img src="{% static "img/portrait_200.png" %}" alt="{% trans "Click photo to upload new one" %}"/>
            {% endif %}
        </a>
        <p>{% trans "Click photo to upload new one" %}</p>

    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <tr>
                <th>{% trans "Name" %}*</th>
                <td>
                    <a href="#" id="name" data-type="text" data-title="{% trans "Name" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-placeholder="{% trans "Required" %}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.name }}
                    </a>
                </td>
            </tr>

            <tr>
                <th>{% trans "Gender" %}*</th>
                <td>
                    <a href="#" id="gender" data-type="select" data-title="{% trans "Gender" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.get_gender_display }}
                    </a>
                </td>
            </tr>

            <tr>
                <th>{% trans "Birth Year" %}</th>
                <td>
                    <a href="#" id="birth_year" data-type="number" data-title="{% trans "Birth Year" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.birth_year }}
                    </a>
                </td>
            </tr>

            <tr>
                <th>{% trans "Death Year (enter 0 if still alive)" %}</th>
                <td>
                    <a href="#" id="year_of_death" data-type="number" data-title="{% trans "Death Year.  Enter 0 if still alive." %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.year_of_death }}
                    </a>
                </td>
            </tr>


            {% if show_email_and_language %}
                <tr>
                    <th>{% trans "First Language" %}*</th>
                    <td>
                        <a href="#" id="language" data-type="select" data-title="{% trans "First Language" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                            {{ person.get_language_display }}
                        </a>
                    </td>
                </tr>


                <tr>
                    <th>{% trans "Email" %}</th>
                    <td>
                        <a href="#" id="email" data-type="text" data-title="{% trans "Email" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                            {{ person.email }}
                        </a>
                    </td>
                </tr>
            {% endif %}

            <tr>
                <th>{% trans "Tel Number" %}</th>
                <td>
                    <a href="#" id="telephone_number" data-type="text" data-title="{% trans "Telephone/Mobile Number.  Include the country code if your family is across several countries" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.telephone_number }}
                    </a>
                </td>
            </tr>


            <tr>
                <th>{% trans "Website/Facebook/Twitter..." %}</th>
                <td>
                    <a href="#" id="website" data-type="text" data-title="{% trans "Website/Facebook/Twitter etc..." %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.website }}
                    </a>
                </td>
            </tr>


            <tr>
                <th>{% trans "Location" %}</th>
                <td>
                    <a href="#" id="address" data-type="text" data-title="{% trans "Location.  Can be approximate e.g. Coventry, UK or 筲箕灣 香港" %}" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                        {{ person.address }}
                    </a>
                </td>
            </tr>

            {% if show_locked %}
                <tr>
                    <th>{% trans "Locked" %}</th>
                    <td>
                        <a href="#" id="locked" data-title="{% trans "Lock your profile, so only you can edit it?" %}" data-type="select" data-pk="{{ person.id }}" data-url="/update_person={{ person.id }}/" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">
                            {% if person.locked %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}
                        </a>
                    </td>
                </tr>
            {% endif %}

            <tr>
              <th><i>*{% trans "Required" %}</i></th>
              <td></td>
            </tr>


        </table>
    </div>

    <!-- Modal delete -->
    <div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Delete Profile" %}</h4>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete profile?" %}
                </div>
                <div class="modal-footer">
                    <a href="/delete={{ person.id }}/" type="button" class="btn btn-danger">{% trans "Yes" %}</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "NO!!!" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block extrascript %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script>
        //turn to inline mode
        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function() {


            $('#name').editable({
                validate: function(value) {
                    if(!value) return '{% trans "Required field!" %}';
                }
            });


            $('#gender').editable({
                source: [
                            {value: 'F', text: '{% trans "Female" %}'},
                            {value: 'M', text: '{% trans "Male" %}'},
                            {value: 'O', text: '{% trans "Other" %}'},
                        ],
                validate: function(value) {
                    if(!value) return '{% trans "Required field!" %}';
                },
            });

            $('#language').editable({
                source: [
                        {% for code, display in languages %}
                            {value: '{{ code }}', text: '{{ display }}'},
                        {% endfor %}
                        ],
                validate: function(value) {
                    if(!value) return '{% trans "Required field!" %}';
                },
            });


            $('#email').editable();
            $('#birth_year').editable();
            $('#year_of_death').editable();
            $('#telephone_number').editable();
            $('#website').editable();
            $('#address').editable();

            //Pass through an empty string for false
            $('#locked').editable({
                source: [
                            {value: '', text: '{% trans "No" %}'},
                            {value: 1, text: '{% trans "Yes" %}'},
                        ],
            });
        });

    </script>
{% endblock %}
