{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top: 20px;">

    <div class="col-md-12">
        <p><a class="btn btn-default" href="/profile={{ person_id }}/" role="button">&laquo;{%trans "Back" %}</a></p>

        <form role="form" action="/update_biography={{ person_id }}/ln={{ language }}/" method="post">
            {% csrf_token %}
            <textarea id="biography" type="biography" name="biography" >{{ biography.content }}</textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Save" %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extrascript %}

    <!--TinyMCE -->
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            language_url : '/static/js/tinymce_languages/{{ language }}.js',

        });
    </script>

{% endblock %}
