{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="family_tree_container" id="family_tree_container" style="position: relative;"> <!--I don't understand why this needs to inline! -->

        {% for relative in people %}
            <div id="person{{relative.id}}" class="boxed_chained">
                <a href="/profile={{relative.id}}/">
                    {% if relative.small_thumbnail %}
                        <img class="tree_thumb" src="/media/{{relative.small_thumbnail}}" alt="{{ relative.name }}"/>
                    {% else %}
                        <img class="tree_thumb" src="{% static "img/portrait_80.png" %}" alt="{{ relative.name }}"/>
                    {% endif %}
                    <div>
                        {{ relative.name }}
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
</div>
{% endblock %}

{% block extrascript %}

    <!--
    CDNS not working in China
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="{% static "js/jquery.jsPlumb-1.7.2-min.js" %}"></script>
    -->

    <script>
        jsPlumb.ready(function() {

            // your jsPlumb related init code goes here

        	// setup some defaults for jsPlumb.
        	var instance = jsPlumb.getInstance({
        		Endpoint : ["Dot", {radius:2}],
        		HoverPaintStyle : {strokeStyle:"#1e8151", lineWidth:2 },
        		Container:"family_tree_container"
        	});


             window.jsp = instance;

    	var windows = jsPlumb.getSelector(".family_tree_container .boxed_chained");


    	// suspend drawing and initialise.
    	instance.doWhileSuspended(function() {
    		var isFilterSupported = instance.isDragFilterSupported();
    		// make each ".ep" div a source and give it some parameters to work with.  here we tell it
    		// to use a Continuous anchor and the StateMachine connectors, and also we give it the
    		// connector's paint style.  note that in this demo the strokeStyle is dynamically generated,
    		// which prevents us from just setting a jsPlumb.Defaults.PaintStyle.  but that is what i
    		// would recommend you do. Note also here that we use the 'filter' option to tell jsPlumb
    		// which parts of the element should actually respond to a drag start.
    		// here we test the capabilities of the library, to see if we
    		// can provide a `filter` (our preference, support by vanilla
    		// jsPlumb and the jQuery version), or if that is not supported,
    		// a `parent` (YUI and MooTools). I want to make it perfectly
    		// clear that `filter` is better. Use filter when you can.
    		if (isFilterSupported) {
    			instance.makeSource(windows, {
    				filter:".ep",
    				anchor:"Continuous",
    				connector:[ "StateMachine", { curviness:20 } ],
    				connectorStyle:{ strokeStyle:"#5c96bc", lineWidth:2, outlineColor:"transparent", outlineWidth:4 },
    				maxConnections:5,
    				onMaxConnections:function(info, e) {
    					alert("Maximum connections (" + info.maxConnections + ") reached");
    				}
    			});
    		}
    		else {
    			var eps = jsPlumb.getSelector(".ep");
    			for (var i = 0; i < eps.length; i++) {
    				var e = eps[i], p = e.parentNode;
    				instance.makeSource(e, {
    					parent:p,
    					anchor:"Continuous",
    					connector:[ "StateMachine", { curviness:20 } ],
    					connectorStyle:{ strokeStyle:"#5c96bc",lineWidth:2, outlineColor:"transparent", outlineWidth:4 },
    					maxConnections:5,
    					onMaxConnections:function(info, e) {
    						alert("Maximum connections (" + info.maxConnections + ") reached");
    					}
    				});
    			}
    		}
    	});

    	// initialise all '.w' elements as connection targets.
    	instance.makeTarget(windows, {
    		anchor:"Continuous",
    		allowLoopback:true
    	});


        {% for relation in relations %}
            instance.connect({
                source:"person{{ relation.from_person_id }}",
                target:"person{{ relation.to_person_id }}",
                overlays:[
                    [ "Arrow", { location:1, direction: 1, id:"arrow{{ relation.id }}"} ],
                    [ "Label", { label:"{{ relation.get_relation_type_display }}", id:"label{{ relation.id }}", cssClass:"aLabel"} ]
                    ],
            });
        {% endfor %}



        jsPlumb.fire("jsPlumbDemoLoaded", instance);
    });
    </script>
{% endblock %}