{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="family_tree_container" id="family_tree_container" style="position: relative;"> <!--I don't understand why this needs to inline! -->

        {% for relative in people %}
            <div id="person{{relative.id}}" class="boxed_chained">
                <a href="/tree/{{relative.id}}/">
                    {% if relative.small_thumbnail %}
                        <img class="tree_thumb" src="/media/{{relative.small_thumbnail}}" alt="{{ relative.name }}"/>
                    {% else %}
                        <img class="tree_thumb" src="{% static "img/portrait_80.png" %}" alt="{{ relative.name }}"/>
                    {% endif %}
                    <div>
                        {{ relative.name }}
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
</div>
{% endblock %}

{% block extrascript %}

<script >
    //built using server side template, need to convert to ajax
    var OKKINDRED_HOW_RELATED = {
      relations : [
                  {% for relation in relations %}
                    {
                        id : '{{ relation.id }}',
                        desc : '{{ relation.get_relation_type_display }}',
                        from_person_id : '{{ relation.from_person_id }}',
                        to_person_id : '{{ relation.to_person_id }}',
                    },
                {% endfor %}
                ]
    };
</script>

<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/family_tree/how_i_am_related.js' %}"]);
    });
</script>
{% endblock %}