{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/node_modules/blueimp-file-upload/css/jquery.fileupload.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "New Profile Photo" %}</h1>
    <blockquote>
        <p>
            {% trans "Upload the new profile photo for" %} {{person.name}}
       </p>
    </blockquote>

    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>{% trans "Select file..." %}</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="profile_picture_upload" type="file" name="picture">
        {% csrf_token %}
    </span>
    <br/>
    <br/>
    <!-- The global progress bar -->

    <!--[if gt IE 9]><!-->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!--<![endif]-->

    <div id="processing_wait" style="display:none;">
        <img src="{% static "img/ajax-loader.gif" %}"/> {% trans "Processing..." %}
    </div>
    <div id="error_text" style="display:none;">{% trans "Error uploading image" %}</div>
    <div class="files" id="files"></div>
</div>
{% endblock %}

{% block extrascript %}
<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/family_tree/profile_photo_upload.js' %}"]);
    });
</script>
{% endblock %}