{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.Jcrop.min.css" %}"/>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Image Resize" %}</h1>
    <div>
        <a class="btn btn-danger" href="/profile={{ person.id }}/" role="button">&laquo;{%trans "Back" %}</a>
        <form action="/image_rotate={{ person.id }}/" method="post" class="form-inline">
            {% csrf_token %}
            <input type="hidden" name="anticlockwise_angle" value="90"/>
            <button class="btn btn-warning" type="submit" class="form-inline">
                <span class="glyphicon glyphicon-repeat icon-flipped"></span>
            </button>
        </form>
        <form  action="/image_rotate={{ person.id }}/" method="post" class="form-inline">
            {% csrf_token %}
            <input type="hidden" name="anticlockwise_angle" value="-90"/>
            <button class="btn btn-warning" type="submit" class="form-inline">
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </form>
		<form class="form-inline" action="/image_crop={{ person.id }}/" onsubmit="return checkCoords();" method="post">
		    {% csrf_token %}
			<input type="hidden" id="x" name="x" />
			<input type="hidden" id="y" name="y" />
			<input type="hidden" id="w" name="w" />
			<input type="hidden" id="h" name="h" />
			<input type="hidden" id="display_height" name="display_height" />

			<input type="submit" value="{%trans "Save" %}&raquo;" class="btn btn-success" />
		</form>

    </div>
    <p>
        {% trans "Please trim the image to suit a profile picture:" %}
    </p>
    <img src="/media/{{ person.photo }}" id="crop_target"/>


</div>
{% endblock %}

{% block extrascript %}
<script language="Javascript">
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/family_tree/image_resize.js' %}"]);
        requirejs(["{% static 'js/common/submit_disable.js' %}"]);
    });
</script>

{% endblock %}