{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load l10n %}


{% block extrastyle %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />
    <style>
        html, body, #map {
            height:100%;
            width:100%;
            padding:0px;
            margin:0px;
            overflow: hidden;
        }
        #map{
            padding-top: 50px;
        }

    </style>
{% endblock %}


{% block content %}
<!--http://leafletjs.com/examples/quick-start.html-->

<div id="map"></div>

{% endblock %}

{% block extrascript %}

<script src="{% static "js/leaflet.js" %}"></script>

<script type="text/javascript">
{% localize off %}
$(document).ready(function() { initialize(); });

function initialize() {

    var map = L.map('map', {
        center: [{{ this_person.latitude }}, {{ this_person.longitude }}],
        zoom: {{ zoom }},
        zoomControl: false,
        minZoom: 2,
        scrollWheelZoom: true,
        detectRetina: true,
        maxBounds: [[-90, -200],[90, 200]]
    });



    L.tileLayer('https://{s}.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}', {
		subdomains: ['a','b','c','d'],
		id: 'okkindred.ldfc645h',
		token: 'pk.eyJ1Ijoib2traW5kcmVkIiwiYSI6Ild2MnY5dDQifQ.EHr6blIYPYeg4bWmSStT-g',
	}).addTo(map);

    map.addControl( L.control.zoom({position: 'bottomleft'}));


    var marker_icon = L.icon({
            iconUrl: '{% static "img/map_marker.png" %}',
            shadowUrl: '{% static "img/map_marker_shadow.png" %}',
            iconSize:     [25, 41], // size of the icon
            shadowSize:   [50, 60], // size of the shadow
            iconAnchor:   [13, 42], // point of the icon which will correspond to marker's location
            shadowAnchor: [16, 62],  // the same for the shadow
            popupAnchor:  [0, -30] // point from which the popup should open relative to the iconAnchor
        });

    {% for location in locations %}
        var marker = L.marker([{{ location.latitude }},{{ location.longitude }}], {icon: marker_icon}).addTo(map);
        marker.bindPopup(
            [
            {% if location.double_width %}
                '<div style="overflow: hidden; width:180px;">',
            {% else %}
                '<div style="overflow: hidden; width:90px;">',
            {% endif %}

            {% for person in location.people %}
                '<div class="img-with-text-osm"><a href="/profile={{ person.id }}/">',
                {% if person.small_thumbnail %}
                    '<img src="/media/{{person.small_thumbnail}}" alt="{{ person.name }}"/>',
                {% else %}
                    '<img src="{% static "img/portrait_80.png" %}" alt="{{ person.name }}"/>',
                {% endif %}
               '{{ person.name }}',
                '</a></div>',
            {% endfor %}
            '</div>',
            ].join('')
        );
    {% endfor %}
}
{% endlocalize %}
</script>

{% endblock %}