{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="col-md-12">
        <p>
            <a class="btn btn-success" href="/person={{ person.id }}/" role="button">&laquo;{%trans "Tree" %}</a>

            {% if not locked %}
                {% if requested_language %}
                    <a class="btn btn-primary" href="/edit_profile={{ person.id }}/ln={{ requested_language }}/" role="button">{% trans "Edit" %}</a>
                {% else %}
                    <a class="btn btn-primary" href="/edit_profile={{ person.id }}/" role="button">{% trans "Edit" %}</a>
                {% endif %}
            {% endif %}

            {% if show_relation_to_me %}
                <a class="btn btn-warning" href="/how_am_i_related={{ person.id }}/" role="button">{%trans "Relation To Me" %}</a>
            {% endif %}

            <a class="btn btn-info" href="/ancestors={{ person.id }}/" role="button">{%trans "Ancestors" %}</a>
            <a class="btn btn-info" href="/descendants={{ person.id }}/" role="button">{%trans "Descendants" %}</a>

        </p>
        <p>
            {% if locked %}
                {% trans "This profile has been locked by this user." %}
            {% endif %}
        </p>
    </div>
    <div class="col-md-4">
        {% if person.large_thumbnail %}
            <img src="/media/{{person.large_thumbnail}}" alt="{{ person.name }}"/>
        {% else %}
            <img src="{% static "img/portrait_200.png" %}" alt="{% trans "No photo uploaded for " %} {{ person.name }}"/>
        {% endif %}


        {% if invite_allowed %}
        <form role="form" action="/accounts/invite_person={{ person.id }}/" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" style ="width:200px;">{% trans "Invite to join" %}</button>
        </form>
        {% endif %}

    </div>
    <div class="col-md-8">
        <table class="table table-striped">

            <tr>
              <th>{% trans "Name" %}</th>
              <td>{{ person.name }}</td>
            </tr>

            <tr>
              <th>{% trans "Gender" %}</th>
              <td>{{ person.get_gender_display }}</td>
            </tr>

            {% if person.birth_year %}
                <tr>
                  <th>{% trans "Birth Year" %}</th>
                  <td>{{ person.birth_year }}</td>
                </tr>
            {% endif %}

            {% if person.year_of_death %}
                <tr>
                  <th>{% trans "Death Year" %}</th>
                  <td>{{ person.year_of_death }}</td>
                </tr>
            {% endif %}

                <tr>
                  <th>{% trans "First Language" %}</th>
                  <td>{{ person.get_language_display }}</td>
                </tr>

            {% if person.email %}
                <tr>
                  <th>{% trans "Email" %}</th>
                  <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                </tr>
            {% endif %}

            {% if person.telephone_number %}
                <tr>
                  <th>{% trans "Tel Number" %}</th>
                  <td>{{ person.telephone_number }}</td>
                </tr>
            {% endif %}

            {% if person.website %}
                <tr>
                  <th>{% trans "Website" %}</th>
                  <td>{{ person.website }}</td>
                </tr>
            {% endif %}

            {% if person.address %}
                <tr>
                  <th>{% trans "Location" %}</th>
                  <td><a href="/map={{ person.id }}">{{ person.address }}</a></td>
                </tr>
            {% endif %}

        </table>
    </div>
    <!-- Biographies-->
    <div class="col-md-12">
        <h3>{% trans "Biography" %}</h3>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{ biography.get_language_display }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                {% for language_code, language_display in languages %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/profile={{ person.id }}/ln={{ language_code }}/">{{ language_display }}</a></li>
                {% endfor %}
            </ul>
            {% if locked %}

            {% else %}
                <a class="btn btn-primary" href="/edit_biography={{ person.id }}/ln={{ biography.language }}/" role="button">{% trans "Edit Biography" %}</a>
            {% endif %}
        </div>

        <p>
            {% if biography %}
                {{ biography.content | safe }}
            {% else %}
                {% trans "A biography has not yet been written for this language." %}
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}



