{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">

    <form id="search_form" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h4>{% trans "Search Name:" %}</h4>
            <div class="form-group">
                <input type="search_text" id="search_text" name="search_text" class="form-control" placeholder="{% trans "Name" %}" required autofocus>
            </div>
        </div>
    </form>
    <div id="searching_in_progress" style="display:none;">
        <img src="{% static "img/ajax-loader.gif" %}"/> {% trans "Searching..." %}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
              <tbody id="results">
              </tbody>
        </table>
    </div>

</div>

{% endblock %}

{% block extrascript %}

<!-- Templates -->
{% verbatim %}
<script id="search_person_row" type="text/html">
    <tr>
        <td class="search_photo">
            <a href="/profile={{id}}">
                <img src="{{image_url}}" alt="{{name}}"/>
            </a>
        </td>
        <td style="padding-top:40px">
            <a href="/profile={{id}}">
                {{name}}
            </a>
        </td>
    </tr>
</script>
{% endverbatim %}
<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/family_tree/person_search.js' %}"]);
    });
</script>
{% endblock %}