{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}

<style type="text/css">



</style>
{% endblock %}

{% block content %}
<div id="container" class="container" style="padding-top: 20px;">
    <div class="family_tree_container" id="family_tree_container" style="position: relative;"> <!--I don't understand why this needs to inline! -->
    </div>
</div>
{% endblock %}


{% block extrascript %}
<script id="localization" type="text/html" data-raised="{% trans 'raised' %}" data-partnered="{% trans 'partnered' %}">
</script>

<!--Templates-->
{% verbatim %}
<script id="centre_person" type="text/html">
    <div id ="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;">
        <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
        <div>
            {{name}}
        </div>

        <div><a class="btn btn-info" href="/profile={{id}}/" role="button">Profile</a></div>
        <div><a class="btn btn-primary" href="/add_relation={{id}}/" role="button">Add Relation</a></div>
    </div>
</script>

<script id="relative_person" type="text/html">
    <div id="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;" data-person_id="{{id}}">
        <a href="#">
            <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
            <div>
                {{name}}
            </div>
        </a>
    </div>
</script>

<script id="relative_person_more_up" type="text/html">

    <div id="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;" data-person_id="{{id}}">
        <div class="w_up_arrow">&#9650;</div>
        <a href="#">
            <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
            <div>
                {{name}}
            </div>
        </a>
    </div>
</script>

<script id="relative_person_more_left" type="text/html">
    <div id="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;" data-person_id="{{id}}">
        <div class="w_left_arrow">&#9668;</div>
        <a href="#">
            <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
            <div>
                {{name}}
            </div>
        </a>
    </div>
</script>

<script id="relative_person_more_right" type="text/html">
    <div id="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;" data-person_id="{{id}}">
        <div class="w_right_arrow">&#9658;</div>
        <a href="#">
            <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
            <div>
                {{name}}
            </div>
        </a>
    </div>
</script>

<script id="relative_person_more_down" type="text/html">
    <div id="{{id}}" class="w" style="width: auto; left: {{left}}px; top: {{top}}px;" data-person_id="{{id}}">
        <a href="#">
            <img class="tree_thumb" alt="{{name}}" src="{{image}}"/>
            <div>
                {{name}}
            </div>
        </a>
        <div class="w_down_arrow">&#9660;</div>
    </div>
</script>

{% endverbatim %}

<script src="{% static "js/family_tree/dom.jsPlumb-1.7.5-min.js" %}"></script>
<script src="{% static "js/family_tree/tree_app.min.js" %}"></script>
{% endblock %}