{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extrastyle %}

<style type="text/css">

    {{ css }}

    /* Smartphones (portrait and landscape) --  --  --  --  -- - */
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 767px) {
    /* Styles */
        {{ css_mobile }}
    }

</style>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="family_tree_container" id="family_tree_container" style="position: relative;"> <!--I don't understand why this needs to inline! -->

        {% for relative in people %}
            <div id="person{{relative.id}}" class="w connect">
                <a href="/tree/{{relative.id}}/">
                    {% if relative.small_thumbnail %}
                        <img class="tree_thumb" alt="{{ relative.name }}" src="/media/{{relative.small_thumbnail}}"/>
                    {% else %}
                        <img class="tree_thumb" alt="{% trans "No photo uploaded for " %} {{ relative.name }}" src="{% static "img/portrait_80.png" %}"/>
                    {% endif %}
                    <div>
                        {{ relative.name }}
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block extrascript %}
<script>
    //built using server side template, need to convert to ajax
    var OKKINDRED_HOW_RELATED = {
        relations : [
                  {% for relation in relations %}
                    {
                        id : '{{ relation.id }}',
                        desc : '{{ relation.get_relation_type_display }}',
                        from_person_id : '{{ relation.from_person_id }}',
                        to_person_id : '{{ relation.to_person_id }}',
                    },
                {% endfor %}
                ]
    };
</script>
<script>
    requirejs(["{% static 'js/common.js' %}"], function (common) {
        requirejs(["{% static 'js/family_tree/connect.js' %}"]);
    });
</script>

{% endblock %}