{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">

    <h3>{% trans "Account confirmation" %}</h3>

    <form role="form" action="/accounts/sign_up_confirmation={{ confirmation_key }}/" method="post" data-toggle="validator">
        <div class="form-group">
            {% csrf_token %}
            <h4>{% trans "Please create a new password:" %}</h4>
            <p>
                <input type="password" name="password" data-minlength="8" class="form-control" id="inputPassword" placeholder="{% trans 'New Password' %} " required>
                <span class="help-block">{% trans "Minimum of 8 characters" %}</span>
            </p>
            <p>
                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword"
                        data-match-error="{% trans 'Whoops, they must match!' %}" placeholder="{% trans 'Confirm Password' %}" required>
                <div class="help-block with-errors"></div>
            </p>
        </div>
        <button class="btn btn-primary disabled" style="cursor: pointer; pointer-events: all;" type="submit">{% trans "Join ok!Kindred" %}</button>
    </form>

</div>
{% endblock %}

{% block extrascript %}

<script src="{% static 'js/editable.min.js' %}"></script>
<script src="{% static 'js/common/submit_disable.js' %}"></script>

{% endblock %}