{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
    <h3>
        {% trans "Join ok!Kindred" %}
    </h3>
    <p>
        {% trans "To set up a new family network and join ok!Kindred, please provide the following information:" %}
    </p>

    <form id="sign_up_form" role="form" action="/accounts/sign_up/" method="post">
        {% csrf_token %}

         <div class="form-group">
            <label for="input_name">{% trans "Name" %}*</label>
            <input type="text" class="form-control" id="input_name" name="name" required>
        </div>

        <div class="form-group">
            <label for="input_email">{% trans "Email" %}*</label>
            <input type="text" class="form-control" id="input_email" name="email" required>
        </div>

        <div class="form-group">
            <label for="input_gender">{% trans "Gender" %}*</label>
            <select class="form-control" name="gender" id="gender">
                <option value="F">{% trans "Female" %}</option>
                <option value="M">{% trans "Male" %}</option>
                <option value="O">{% trans "Other" %}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="input_first_language">{% trans "First Language" %}*</label>
            <select class="form-control" name="language" id="language">

                {% for language_code, language_display in languages %}
                    <option value="{{ language_code }}" {% if person.language == language_code %}selected{% endif %}>{{ language_display }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="address">{% trans "Location" %}</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>

        <div class="form-group">
            <label for="birth_year">{% trans "Birth Year" %}</label>
            <input type="text" class="form-control" id="birth_year" name="birth_year">
        </div>

        <div><em>* {% trans "Required" %}</em></div>

        <button id="sign_up_submit" class="btn btn-lg btn-success btn-block" type="submit">{% trans "Join" %}</button>
    </form>

</div>
{% endblock %}

{% block extrascript %}
<script>
requirejs(["{% static 'js/common.js' %}"], function (common) {
    requirejs(["{% static 'js/common/submit_disable.js' %}"]);
});
</script>
{% endblock %}
