{% extends "base.html" %}
{% load staticfiles %}{% load url from future %}
{% load i18n %}
{% block content %}

 <!-- Main jumbotron for a primary marketing message or call to action -->


{% if user.is_authenticated %}
<div id="top"  style="padding-top: 30px;"></div>
{% else %}
<div class="jumbotron" id="top">
  <div class="container">
    <h1>{% trans "Welcome to ok!Kindred" %}</h1>
    <p>
        {% blocktrans %}
        Greetings from Justin & Adrian.  This is a website to keep track of our family tree.  It is now spread across the world and is growing.
        {% endblocktrans %}
    </p>
    <a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">{%trans "Sign In" %} &raquo;</a></p>
  </div>
</div>
{% endif %}


<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>{% trans "Our Story" %}</h2>
            <p>{% trans "Would you like to know the story of how and why we created this site?" %}</p>
            <p><a class="btn btn-default" href="#story" role="button">{%trans "View details" %}&raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>{% trans "Contact Us" %}</h2>
            <p>{% trans "If you have any questions, need help using the site or have forgotten your password" %}</p>
            <p><a class="btn btn-default" href="#contact" role="button">{%trans "View details" %} &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>{% trans "Security & Privacy" %}</h2>
            <p>{% trans "The privacy and security of my family's data is of high importance" %}</p>
            <p><a class="btn btn-default" href="#security" role="button">{%trans "View details" %} &raquo;</a></p>
        </div>
    </div>

    <hr>
    <div id="story" style="padding-top: 30px;">
        <h2>{% trans "How it started" %}</h2>
        <img src="{% static "img/justin_and_adrian.jpg" %}" alt="Justin & Adrian"/>
        <p>

        <p>
            {% blocktrans %}
            Hello.  I'm Justin on the left.  And I'm Adrian on the right.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            This is a website to record our family tree and and act a bit like a social network.  Our family members can maintain a profile on here and discover how far the tree reaches
            As a person is added to the family tree, they receive an email so they may become a user and add more people to it.
            I attended several family gatherings recently and have struggled to explain how we are all related to others.  My family is now very diverse with several ethnicities and resides across several continents.
            We wanted someway of documenting everyone and keep in touch as the family grows.
            {% endblocktrans %}
        </p>

        <p><a class="btn btn-default" href="#top" role="button">&laquo;{%trans "Back" %}</a></p>
    </div>

    <hr>
    <div id="contact" style="padding-top: 30px;">
        <h2>{% trans "Contact" %}</h2>

        <p>{% blocktrans %}Contact us via email info@okkindred.com{% endblocktrans %}</p>
        <p>
            {% blocktrans %}
            If you are in our family we want to hear from you and are welcome to visit and stay round any time.
            If you have a login to this site and are part of my family, you can get my telephone number and address from my profile!
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            Alternatively, if you are looking for some help using the site, or even if you want us to help you set up your own similar site please drop us a line!
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            We're quite nice people and do like to talk to people interested in the sames things we are: Geek stuff, software, music and crazy pan global Chinese families...
            {% endblocktrans %}
        </p>

        <p><a class="btn btn-default" href="#top" role="button">&laquo;{%trans "Back" %}</a></p>
    </div>

    <hr>
    <div id="security" style="padding-top: 30px;">
        <h2>{% trans "Security & Privacy" %}</h2>
        <p>

        <p>
            {% blocktrans %}
             The details of our family are on this site.  We would never try to do anything we think would jeapordise this data!
             Obviously we take security and privacy very seriously.  This will hopefully summarise some of the measures we have taken.
             {% endblocktrans %}
        </p>
        <h3>{% trans "Security" %}</h3>
        <p>
            {% blocktrans %}
            This entire site is loaded over <a href="https://www.globalsign.com/en/ssl-information-center/what-is-ssl/">Secure Socket Layer</a> (SSL).
            As a result, the connection between you and this website is encrypted.
            This protects against other people listening and stealing the information that is transmitted between you and the website.
            We use 128 bit encryption which is an <a href ="http://www.inet2000.com/public/encryption.htm">industry standard</a>.
            You should notice a padlock at the top of your web browser to show you that the connection to this website is secure.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure
            or destruction of your personal information and transaction information and data stored on our site.  Our servers are located in the USA, and therefore are subject to USA law.
            {% endblocktrans %}
        </p>

        <h3>{% trans "Privacy" %}</h3>
        <p>
            {% blocktrans %}
            Our site uses <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a> to enhance your experience. Your web browser places cookies on your hard drive for record-keeping purposes and sometimes to track information about you.
            In particular we use cookies to identify you so that you may our login to the site.
            {% endblocktrans %}
        </p>

        <p>
            {% blocktrans %}
            We do not sell, trade, or rent your personal identification information to others.
            We do use third party <a href="https://en.wikipedia.org/wiki/Geocoding">geocoding</a> services.  This is to convert a location into a longitude and latitude so we can plot it on a map.
            However no other identifying pieces of information (e.g. name) are supplied with this location.
            We also may share generic aggregated demographic information not linked to any personal identification information.  For example we may disclose how many users we have in China.
            {% endblocktrans %}
        </p>



        <p><a class="btn btn-default" href="#top" role="button">&laquo;{%trans "Back" %}</a></p>

    </div>

    <hr>


    <hr>
    <footer style="padding-top: 50px;">
        <p>Justin Wing Chung Hui & Adrian Chu</p>
    </footer>

</div> <!-- /container -->

{% endblock %}

{% block extrascript %}
<!--
From http://www.paulund.co.uk/smooth-scroll-to-internal-links-with-jquery
Allows scrolling by clicking links
-->
<script>
    $(document).ready(function(){
    	$('a[href^="#"]').on('click',function (e) {
    	    e.preventDefault();

    	    var target = this.hash;
    	    $target = $(target);

    	    $('html, body').stop().animate({
    	        'scrollTop': $target.offset().top
    	    }, 900, 'swing', function () {
    	        window.location.hash = target;
    	    });
    	});
    });
</script>
{% endblock %}
