{% load staticfiles %}<!DOCTYPE html>
{% load cache %}
{% load i18n %}


<!--[if IE 8]>    <html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9]>    <html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} class="no-js ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>  <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ok!Kindred</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-194x194.png' %}" sizes="194x194">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'img/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

	{% block extrastyle %}{% endblock %}

	{% block extrahead %}{% endblock %}

	<meta name="robots" content="NONE,NOARCHIVE" />

</head>

<body>
    <div class="loading"></div>

    {% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

            {% if user.is_authenticated %}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}

            <a class="navbar-brand" href="/">ok!Kindred</a>
        </div>

            {% if user.is_authenticated %}

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">{% trans "Tree" %}</a></li> <!--use  class="active" to highlight it -->
                    <li><a href="/map/">{% trans "Map" %}</a></li>
                    <li><a href="/gallery/">{% trans "Gallery" %}</a></li>
                    <li><a href="/search/">{% trans "Search" %}</a></li>
                    <li><a href="/about/">{% trans "About" %}</a></li>
                </ul>



                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/settings/">{% trans "Settings" %}</a></li>
                    <li><a href="/accounts/logout/">{% trans "Log Out" %}</a></li>
                </ul>
            </div><!--/.navbar-collapse -->

            {% endif %}


        </div>


    </nav>

    {% endblock %}

    <div id="bootstrapCssTest" class="hidden"></div>

    {% block content %}{% endblock %}

    <script src="{% static 'js/libs/bower_components/requirejs/require.min.js' %}"></script>
    {% block extrascript %}{% endblock %}

</body>
</html>
